<simulation>
    <app type="ControlApp" />
    
    <robot type="QuickBot">
        <supervisor type="quickbot.QBSupervisor" />
        <pose x="0" y="0" theta="0" />
        <driver ip="192.168.1.101" port="5005" />
    </robot>
    
    <obstacle>
        <pose x="-0.4" y="0.2" theta="0" />
        <geometry>
            <point x="0" y="0" />
            <point x="0.8" y="0" />
            <point x="0.8" y="0.2" />
            <point x="0" y="0.2" />
        </geometry>
    </obstacle>
    
    <obstacle>
        <pose x="-0.4" y="-0.2" theta="1.5708" />
        <geometry>
            <point x="0" y="0" />
            <point x="0.6" y="0" />
            <point x="0.6" y="0.2" />
            <point x="0" y="0.2" />
        </geometry>
    </obstacle>
    
    <obstacle>
        <pose x="0.4" y="0.4" theta="-1.5708" />
        <geometry>
            <point x="0" y="0" />
            <point x="1.0" y="0" />
            <point x="1.0" y="0.2" />
            <point x="0" y="0.2" />
        </geometry>
    </obstacle>
    
    <obstacle>
        <pose x="0" y="-0.6" theta="0" />
        <geometry>
            <point x="0" y="0" />
            <point x="0.4" y="0" />
            <point x="0.4" y="0.2" />
            <point x="0" y="0.2" />
        </geometry>
    </obstacle>
    
    <obstacle>
        <pose x="0.7" y="0.7" theta="0" />
        <geometry>
            <point x="0" y="0" />
            <point x="0.2" y="0" />
            <point x="0.2" y="0.2" />
            <point x="0" y="0.2" />
        </geometry>
    </obstacle>
    
    <obstacle>
        <pose x="0.7" y="0.7" theta="1.5708" />
        <geometry>
            <point x="0" y="0" />
            <point x="0.4" y="0" />
            <point x="0.4" y="0.2" />
            <point x="0" y="0.2" />
        </geometry>
    </obstacle>
    
    <obstacle>
        <pose x="-1.6" y="-1.5" theta="0" />
        <geometry>
            <point x="0" y="0" />
            <point x="3" y="0" />
            <point x="3" y="0.1" />
            <point x="0" y="0.1" />
        </geometry>
    </obstacle>
    
    <obstacle>
        <pose x="-1.5" y="-1.4" theta="1.5708" />
        <geometry>
            <point x="0" y="0" />
            <point x="3" y="0" />
            <point x="3" y="0.1" />
            <point x="0" y="0.1" />
        </geometry>
    </obstacle>
    
        <obstacle>
        <pose x="1.5" y="-1.5" theta="1.5708" />
        <geometry>
            <point x="0" y="0" />
            <point x="3" y="0" />
            <point x="3" y="0.1" />
            <point x="0" y="0.1" />
        </geometry>
    </obstacle>
    
    <obstacle>
        <pose x="-1.5" y="1.5" theta="0" />
        <geometry>
            <point x="0" y="0" />
            <point x="3" y="0" />
            <point x="3" y="0.1" />
            <point x="0" y="0.1" />
        </geometry>
    </obstacle>
</simulation>